$test-content-padding-top: 0
$test-content-padding-bottom: 0
$test-content-offset: 4px

.test
  & .test-test
    justify-content: space-between
.test_test
  padding: 0.5rem 1rem
  font-weight: 400
.testTest
  color: red

