$color-green-main: #1DD47F;
$color-green-hover: #388e3c;
$color-orange: #F59A23;
$color-text-main: #333;
$color-text-secondary: #666;
$color-text-empty: #999;
$color-hover-bg: #f5f5f5;

.test {
  cursor: pointer;
  display: inline-flex;
  padding: 4px;
  
  &:hover {
    background-color: #f0f0f0;
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
}

